<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
a{
    text-decoration: none;
border: black 4px solid;
padding: 6px;
margin:20px;
color: white;
background-color: black;

}
a:hover{
    transition: 1s;
    color: black;
    background-color: white;
}
nav{
    padding: 12px;
}
</style>
<body>
 <section>
     <nav>
        <a class="navbar" href="/contact_detail">Contact_Detail</a>
        <a class="navbar" href="/bapdetails">Bap_details</a>
        <a class="navbar" href="/therapy_detail">therapy_detail</a>
     </nav>
 </section>

</body>
</html>