<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/gat.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esmeralda|Therapy</title>
</head>
<body>
    <a href="/mg"><button class="back-button">Back</button></a>
  <h1 style="text-align: center;color: black; ">GIFT A THERAPY</h1>
  <br>
 
  <div class="border">
    <form action="/therapy" method="POST" > 
    
        <div class="form-group">
            <input type="text" placeholder="Name" name="name"  required>
            <input type="email" placeholder="Email" name="email" required>
        </div>

        <div class="form-group">
            <input type="number" placeholder="Number" name="number"  required>
            <input type="text" placeholder="Person your gifting"  name="gifting" required>
        </div>

        <div class="form-group">
            <input type="text" placeholder="Therapy" name="therapy" required>
        
        </div>


        <div class="form-group"> 
            
            <button type="submit" id="submit-btn">Gift</button>
        </div>


    </form>

   



</div>


</body>
</html>