<!DOCTYPE html>
<html lang="en">

<head>
 
  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap" rel="stylesheet">
  
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Esmeralda|Spa and lounge center</title>
  <link rel="stylesheet" href="home.css">
  
</head>

<body style="background-image: url(https://cdn.pixabay.com/photo/2017/02/16/19/47/bokeh-2072271__340.jpg); background-attachment: fixed; background-repeat: no-repeat; background-size: cover;">

<section>
  
  <nav class="nav-sec">
    <img style="height: 90px; width: 150px;" src="logo.PNG" alt="">
    <a class="navbars" href="">Home</a>
    <a class="navbar" href="">About</a>
    <a class="navbar" href="/contact">Contact</a>
    <a class="navbar" href="/events">Events</a>
  <a class="navbar" href="/mg">Membership & Gifting</a>
  <a class="navbar" href="/st">Spa Therapies</a>
  <a class="navbar" href="/Appointments">Book an Appointment</a>
 <a class="navbar" href="/login">Login </a>
 <a class="navbar" href="/detail">Details</a>
  </nav>
</section>
<h1 class="h2">ESMERALDA|SPA AND LOUNGE</h1>
<p style="font-size: 19px; text-align: center;font-weight: 600;">Welcome to Esmeralda, spa & lounge center. Here we provide you with the best of hospitality, along with that we use harmless chemicals for therapies. </p> <p style="font-size: 20px; text-align: center;font-weight: 600;"> The cream is made naturally in the center, with fresh ingredients. We also use balm,oil,sugar-salt mixture & many more. We have </p> <p style="font-weight: 600;  font-size: 20px; text-align: center;">always believed that natural essence for body is the best antidote. We enhance healths to be fit and full of energy.</p> <p style=" font-weight: 600;  font-size: 20px; text-align: center;"> We invite you all to amalgamate yourselves, and have the best moments here.</p>
<hr>
<h1 style="text-align: center;font-family: Arial, Helvetica, sans-serif;font-size: 32px;">TOURS</h1>

<h2 style="font-size: 27px; font-family: monospace;text-align: center;">~Esmeralda Center and guides tour~</h2>
<div style="display: flex;">

<video style="margin-top: 30px; margin-left: 30px; height: 300px; width: 700px;" src="" controls></video>

<video style="margin-top: 30px; margin-left: 30px; height: 300px; width: 700px;" src="" controls></video>

<video style="margin-top: 30px; margin-left: 30px; height: 300px; width: 700px;" src="" controls></video>
</div>
<br>
<hr>
<br>




</body>

</html>