<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/mg.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Membership & Gifting|Esmeralda</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    <section>
  
        <nav class="nav-sec">
          <img style="height: 140px; width: 240px;" src="logo.PNG" alt="">
          <a class="navbars" href="/home">Home</a>
          <a class="navbar" href="">About</a>
          <a class="navbar" href="/contact">Contact</a>
          <a class="navbar" href="/events">Events</a>
        <a class="navbar" href="/mg">Membership & Gifting</a>
        <a class="navbar" href="/st">Spa Therapies</a>
        <a class="navbar" href="/Appointments">Book an Appointment</a>
        </nav>
      </section>

      <h1 class="h1-section1">GIFTS FOR ALL</h1>
      <p class="p1">Gift your family and friends a gift voucher from Esmeralda. </p> <p class="p1">We at Esmeralda vouch that the therapy gift box will take them to unique spa therapies.</p> <p class="p1"> We also gift you all our special hand made cream as a moisturizer to your dry skin.</p>
     <hr>
      <div style="display: flex;">
<div>
  <h1 class="h1-2">Book a gift card online and we will have it delivered to the doorstep within 24 hrs.Customize the gift card as per your liking and gift your family and friends.</h1>
  <a href="/giftatherapy" class="animated-button1">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  Gift a Therapy
  </a>
<br><br>
<a href="/gav" class="animated-button1">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
Gift a Voucher
</a>
</div>

      <div>
        <img class="img-1" src="voucher.PNG" alt="">
      </div>
      
    </div>
   
  <hr>

  <div style="display: flex;">
 
    <img class="moisturizers" src="moisturizer.1.jpeg" alt="no img">
  <p style="font-size: 22px; color: black; text-align: center; padding-top: 70px;">This moisturizer is one of the famous one's in our center. It's ingredient is challenging but worth a shot. If you want a therapy which has this cream , you will be charged ₹99 extra. If you want to buy this cream, you may speak to the front desk and within a few days, you will need to collect it. ~Use it, feel it & enjoy it~ The next time you come for a therapy, you will be given a sheet about how was the cream and a small feedback about it. Stay happy be charmed, may peace be surrounded by you and your family.</p>
</div>
<hr>
<h1>How to buy a membership?</h1>
<p style="text-align: center; font-size: 22px;">To buy a membership, contact the front desk, you will need to fill in a form, which includes your name, surname, email, phone number, and the amount you will pay to buy a membership. You either get membership cards or you get tokens, you can choose that in your form.Within 1 week you will need to collect your card or token from the front desk. Enjoy your membership.</p>
<br>

<h1>How to use a membership card/token?</h1>
<p  style="text-align: center; font-size: 22px;">Use a membership card or token for therapies and upcoming events by Esmeralda. As per the money vaule you choose to keep in your card/token, you'll be able to pay for all events and therapies. If you choose a 'Royal Massage' you may pay by your card/token. When events like; 'Foot Spa Events', 'Grounding Revive Events', or many more come up you can pay through your cards/token. Your membership will last for 2 months respectively.</p>
<br>
<h1>What if the card/token has no value left?</h1>
<p  style="text-align: center; font-size: 22px;">If the card/token has no value left in it, you can't be able to pay through it, in proper words your membership had ended. You will need to pay by cash, or take a new membership again. Sometimes, you can double up the membership and last your card/token more than 2 months, by this you'll need to pay more cash to the front desk to get membership more than 2 months.</p>
<br>
<h1>How to last membership for more than 2 months?</h1>
<p  style="text-align: center; font-size: 22px;">For lasting your membership more than 2 months, you will need to contact the manager, Samaira Noronha. Phone details and all will be given while you take your first therapy. The manager will explain to you that, for 2 months you have to choose between '2,000', '6,000', '10,000' & '15,000' & you chose '10,000' then this cash or value will be given to you in a format of card or a token, you'll be able to use it up for 2 months, but if you want for 4, 6, or 8 months you'll need to double the payment amount, like 10,000 + 10,000 which gives you 20,000- so this is the value you will need to pay and you get a membership for 4 months. This same method can be used if you want to buy a membership for 6-8 months or 1 year.</p>

</body>
</html> 