<!DOCTYPE html>
<html lang="en">
<head>
  
    <link rel="stylesheet" href="st.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spa Therapies|Esmeralda</title>
    
</head> 
<body>
    
<section>
  
    <nav class="nav-sec">
      <img style="height: 140px; width: 240px;" src="logo.PNG" alt="">
      <a class="navbars" href="/home">Home</a>
      <a class="navbar" href="">About</a>
      <a class="navbar" href="/contact">Contact</a>
      <a class="navbar" href="/events">Events</a>
    <a class="navbar" href="/mg">Membership & Gifting</a>
    <a class="navbar" href="/st">Spa Therapies</a>
    <a class="navbar" href="/Appointments">Book an Appointment</a>
    </nav>
  </section>
  <div style="display: flex; justify-content: space-around;">
    <div>
        <img style="height: 280px;margin-left: 50px; width: 300px;margin-top: 70px;" src="ritual_massage.PNG" alt="NO IMAGE">
<h1 style="font-size: 25px; color: black; margin-left: 80px;"> RITUAL MASSAGE</h1>
<p style="margin-left: 110px;color: black;font-size: 20px; font-weight: 700;">Duration : 30 min</p>
<p style="margin-left: 130px;color: black;font-size: 20px; font-weight: 700;">Price : ₹500/-</p>
</div>
<div>
<img style="height: 280px;margin-left: 50px; width: 300px;margin-top: 70px;" src="signature.PNG" alt="">
<h1 style="font-size: 25px; color: black; margin-left: 60px;"> SIGNATURE MASSAGE</h1>
<p style="margin-left: 120px;color: black;font-size: 20px; font-weight: 700;">Duration : 40 min</p>
<p style="margin-left: 139px;color: black;font-size: 20px; font-weight: 700;">Price : ₹700/-</p>
</div>
<div>
  <img  style="height: 280px;margin-left: 50px; width: 300px;margin-top: 70px;" src="royall.PNG" alt="">
  <h1 style="font-size: 25px; color: black; margin-left: 90px;"> ROYAL MASSAGE</h1>
<p style="margin-left: 128px;color: black;font-size: 20px; font-weight: 700;">Duration : 30 min</p>
<p style="margin-left: 150px;color: black;font-size: 20px; font-weight: 700;">Price : ₹500/-</p>
</div>
</div>
<div style="display: flex; justify-content: space-around;">
<div>
  <img  style="height: 280px;margin-left: 50px; width: 300px;margin-top: 70px;" src="footspa.PNG" alt="">
  <h1 style="font-size: 25px; color: black; margin-left: 130px;">FOOT SPA</h1>
  <p style="margin-left: 120px;color: black;font-size: 20px; font-weight: 700;">Duration : 35 min</p>
  <p style="margin-left: 140px;color: black;font-size: 20px; font-weight: 700;">Price : ₹650/-</p>
</div>
<div>
  <img  style="height: 280px;margin-left: 50px; width: 300px;margin-top: 70px;" src="whiten.PNG" alt="">
  <h1 style="font-size: 25px; color: black; margin-left: 70px;">NOURISHING FACIAL</h1>
  <p style="margin-left: 120px;color: black;font-size: 20px; font-weight: 700;">Duration : 45 min</p>
  <p style="margin-left: 135px;color: black;font-size: 20px; font-weight: 700;">Price : ₹1000/-</p>
</div>
<div>
  <img style="height: 280px;margin-left: 50px; width: 300px;margin-top: 70px;" src="taichi.PNG" alt="">
  <h1 style="font-size: 25px; color: black; margin-left: 150px;">TAI CHI</h1>
  <p style="margin-left: 120px;color: black;font-size: 20px; font-weight: 700;">Duration : 30 min</p>
  <p style="margin-left: 145px;color: black;font-size: 20px; font-weight: 700;">Price : ₹400/-</p>
</div>
</div>
<div style="display: flex;justify-content: space-around;">
<div>
  <img style="height: 280px;margin-left: 50px; width: 300px;margin-top: 70px;" src="exfoliation.PNG" alt="">
  <h1 style="font-size: 25px; color: black; margin-left: 80px;">BODY EXFOLIATION</h1>
  <p style="margin-left: 120px;color: black;font-size: 20px; font-weight: 700;">Duration : 30 min</p>
  <p style="margin-left: 145px;color: black;font-size: 20px; font-weight: 700;">Price : ₹400/-</p>
</div>
<div>
<img style="height: 280px;margin-left: 50px; width: 300px;margin-top: 70px;" src="pressurepoint.PNG" alt="">
<h1 style="font-size: 25px; color: black; margin-left: 80px;">FOOT REFLEXOLOGY</h1>
  <p style="margin-left: 120px;color: black;font-size: 20px; font-weight: 700;">Duration : 35 min</p>
  <p style="margin-left: 145px;color: black;font-size: 20px; font-weight: 700;">Price : ₹630/-</p>
</div>
<div>
  <img style="height: 280px;margin-left: 50px; width: 300px;margin-top: 70px;" src="revive.PNG" alt="">
  <h1 style="font-size: 25px; color: black; margin-left: 80px;">GROUNDING REVIVE</h1>
  <p style="margin-left: 120px;color: black;font-size: 20px; font-weight: 700;">Duration : 35 min</p>
  <p style="margin-left: 145px;color: black;font-size: 20px; font-weight: 700;">Price : ₹630/-</p>
</div>
</div>
<div style="justify-content: space-around;display: flex;">
<div>
  <img style="height: 280px;margin-left: 50px; width: 300px;margin-top: 70px;"src="PURIFY.PNG" alt="">
  <h1 style="font-size: 25px; color: black; margin-left: 80px;">PURIFYING THERAPY</h1>
  <p style="margin-left: 120px;color: black;font-size: 20px; font-weight: 700;">Duration : 35 min</p>
  <p style="margin-left: 145px;color: black;font-size: 20px; font-weight: 700;">Price : ₹630/-</p>

</div>
<div>
  <img style="height: 280px;margin-left: 50px; width: 300px;margin-top: 70px;"src="hydration.PNG" alt="">
  <h1 style="font-size: 25px; color: black; margin-left: 70px;">HYDRATION THERAPY</h1>
  <p style="margin-left: 130px;color: black;font-size: 20px; font-weight: 700;">Duration : 45 min</p>
  <p style="margin-left: 150px;color: black;font-size: 20px; font-weight: 700;">Price : ₹1,000/-</p>
</div>
<div>
  <img style="height: 280px;margin-left: 50px; width: 300px;margin-top: 70px;"src="rollup.PNG" alt="">
  <h1 style="font-size: 25px; color: black; margin-left: 80px;">SPORT SIGNATURE</h1>
  <p style="margin-left: 120px;color: black;font-size: 20px; font-weight: 700;">Duration : 40 min</p>
  <p style="margin-left: 145px;color: black;font-size: 20px; font-weight: 700;">Price : ₹900/-</p>
</div>
</div>
<div style="display: flex;justify-content: space-around;">
<div>
  <img style="height: 280px;margin-left: 50px; width: 300px;margin-top: 70px;"src="https://media.istockphoto.com/photos/man-and-woman-lying-down-on-massage-beds-at-asian-wellness-center-picture-id875640820?k=6&m=875640820&s=612x612&w=0&h=eLQ7NOFO89QNnJz_NzUJvDqQfH8XcF18yHBsloUJCd4=" alt="">
  <h1 style="font-size: 25px; color: black; margin-left: 100px;">COLD THERAPY</h1>
  <p style="margin-left: 120px;color: black;font-size: 20px; font-weight: 700;">Duration : 40 min</p>
  <p style="margin-left: 140px;color: black;font-size: 20px; font-weight: 700;">Price : ₹1,000/-</p>
</div>
<div>
  <img  style="height: 280px;margin-left: 50px; width: 300px;margin-top: 70px;" src="https://media-cdn.tripadvisor.com/media/photo-s/0a/b9/a5/85/hand-spa.jpg" alt="">

  <h1 style="font-size: 25px; color: black; margin-left: 130px;">HANDS SPA</h1>
  <p style="margin-left: 120px;color: black;font-size: 20px; font-weight: 700;">Duration : 30 min</p>
  <p style="margin-left: 140px;color: black;font-size: 20px; font-weight: 700;">Price : ₹570/-</p>
</div>
</div>
<a class="linker" href="/Appointments">Book A Therapy</a>

</body>
</html>