#contact-h{
    text-align: center;
    margin: 20px;
    font-family: 'Castoro', serif;
    font-size: 55px;
    color: midnightblue;
}


form{
    /* border: 2px solid red; */
    width: 600px;
    margin: auto;
    background-color: white;
}


.navbar{
    font-size: 20px;
    color: black;
     /* margin-left: 27px; */
     text-decoration: none;
     margin-top: 66px;
    margin-left: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    }
    
    .navbars{
    font-size: 20px;
    color: black;
    margin-left: 2px;
    text-decoration: none;
    margin-top: 66px;
    margin-left: 26px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
       
    }
    .nav-sec{
    display: flex;
    margin-left: 2px;
    }
    .navbars:hover{
        transition: 1s;
        color:#87ceeb ;
    }
    
    .navbar:hover{
        transition: 1s;
        color:#87ceeb ; 
    }

.form-group{
    /* border: 2px solid red; */
    margin: 15px 0px; 
    padding: 10px 0px ;
}

.form-group input{
    width: 45%;
    margin: 20px 0px;
    padding: 20px 5px;
    border: 3px solid #d10056;
    color: black;
    font-size: 15px;
}

.form-group textarea{
    width: 80%;
    margin: 25px 0px;
    padding: 20px 0px;
    border: 3px solid #d10056;
    color:black;
    font-size: 15px;
}


form{
    text-align: center;
    padding: 3px 0px;
    border-radius: 10px;
}

.submit-form{
    text-decoration: none;
    color:white;
    background-color: palevioletred;
    padding: 13px 33px;
    border-radius: 23px;
    font-size: 20px;
    cursor: pointer;
}

.submit-form:hover{
    color: black;
    background-color: lightpink;
}


/* styling button  */

#submit-btn{
    padding: 5px 18px;
    letter-spacing: 1px;
    background-color:lightpink ;
    border-radius: 20px;
    font-size: 20px;
}